.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

.card {
  padding: 2em;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 2rem;
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: rgba(0, 0, 0, 0.05);
  }
} 